---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import { render } from 'astro:content';
import Project from "../../components/Project.astro"

const projects = (await getCollection('project')).sort(
	(a, b) => a.data.rank.valueOf() - b.data.rank.valueOf(),
);

---

<!doctype html>
<html lang="en">
	<head>
		
		<BaseHead title={"Projects / Akhilesh Kr Sharma"} 
			description={SITE_DESCRIPTION} 
  		/>				
	</head>
	<body>
		<Header />
		<main>
			<section>
				<p class="text-5xl text-neutral-950">Personal projects</p>
				<p>This page lists some of my personal projects, also available on <a href="https://github.com/akhilsharmaa">Github</a>.</p>

				<ul>
					{
						projects.map(async (project) => {
						  return (
						  	<hr>
							<li id={project.id}>
								<Project project={project} />
							</li>
						  );
						})
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
