--- 
const { link, title } = Astro.props;
---

<span class="tags">
	<img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="">
    <a href={link}>{title}</a>
</span>

<style>
    img { 
        height: 15px;
        width: 15px;
        margin-right: 5px;
        display: inline-flex;
    }

    a { 
        text-decoration: none;
        font-size: 1rem;
        color: #000000;
    }

    .tags { 
        border-radius: 100px;
        padding: 0rem .5rem 0 .2rem; 
        background-color: #ebebeb;
        display: inline-flex;
        align-items: center; 
        height: 1.5rem;
        border: 2px solid #d6d6d6;
    }
  
    a:hover{  
        color: #ff7b00;
    }
</style>