--- 
import Abbr from '../Abbr.astro'

const { title, link, description } = Astro.props;

let imgUrl = "";

if(title === 'OpenWISP'){
    imgUrl = "https://avatars.githubusercontent.com/u/1150243?v=4";
}else if(title === 'PyTorch'){
    imgUrl = "https://static-00.iconduck.com/assets.00/pytorch-icon-1694x2048-jgwjy3ne.png";
}else if(title === 'Gofr.dev'){
    imgUrl = "https://gofr.dev/_next/static/media/complete-gorg-logo.bc9195c4.svg";
}


---

<span class="tags">
	<img src={imgUrl} alt="">
    <a href={link}>
        <Abbr 
            title={title} 
            description={description}
            showLogo=false
        />
    </a>
</span>

<style>
    img { 
        height: 15px;
        width: 15px;
        margin-right: 5px;
        display: inline-flex;
    }

    a { 
        text-decoration: none;
        font-size: 1rem;
        color: rgb(0, 0, 0);
    }

    .tags {
        background-color: #0000000e;
        border-radius: 10px 0px 0px 10px;
        padding: 0rem .5rem 0 0.35rem; 
        height: 1.5rem;
        display: inline-flex;
        align-items: center; 
        border: 2px solid #ff7d498a;
    }

    .tags:hover {
        background-color: #ffffff7e;
    }

    a:hover {  
        color: #ffffff;
    }

</style>
