---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Atcoder from '../components/CodingProfile/Cards/atcoder.astro'; 
import CodeForces from '../components/CodingProfile/Cards/codeforces.astro'; 
import Leetcode from '../components/CodingProfile/Cards/leetcode.astro'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="split-layout">
			<main class="main-content">
				<h1>Hi, I'm Akhilesh!</h1>
				<p>
					Welcome to the site blog starter template. This template serves as a lightweight, minimally-styled
					starting point for anyone looking to build a personal website, blog, or portfolio with Astro.
				</p>
				<p>
					This template comes with a few integrations already configured in your
					<code>astro.config.mjs</code> file. You can customize your setup with
					<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
					React, or Vue to your project.
				</p> 
				<p>
					Have fun! If you get stuck, remember to <a href="https://docs.astro.build/">read the docs</a> or
					<a href="https://astro.build/chat">join us on Discord</a> to ask questions.
				</p>
				<p>
					Looking for a blog template with a bit more personality? Check out
					<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a> by
					<a href="https://twitter.com/Charca">Maxi Ferreira</a>.
				</p>

				<div class="coding-profile-wrapper">
					<Atcoder/>
					<CodeForces/>
					<Leetcode/>
				</div>

			</main>
			<aside class="sidebar"> 
				<img src="./my-image.png" alt="Placeholder Image" class="sidebar-image" /> 
				
				<h3>Quick Links</h3>
				<ul>
					<li><a href="#">My Portfolio</a></li>
					<li><a href="#">Contact Me</a></li>
					<li><a href="#">GitHub</a></li>
					<li><a href="#">Twitter</a></li>
				</ul>
			</aside>
		</div>
		<Footer />
	</body>
</html>
