---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Atcoder from '../components/CodingProfile/Cards/atcoder.astro'; 
import CodeForces from '../components/CodingProfile/Cards/codeforces.astro'; 
import Leetcode from '../components/CodingProfile/Cards/leetcode.astro'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="">
	<Header />
	<homepage class="flex  flex-col align-center justify-center"> 
		
		
		<div class="md:p-24 p-4 w-full">  
			<div class="flex flex-row align-center justify-between"> 
				<div>
					<h1 class="text-3xl font-bold mb-4 font-bold text-red-600"><span class="text-gray-600">Hi, I'm  </span> Akhilesh</h1>
					<p class="mb-6 text-gray-700">Fueled by love for <span class="text-red-700">engineering</span> .</p>
				</div>
				<img src="./my-image.png" alt="Placeholder Image" class="profile-image" />
			</div>

				<hr class="h-px my-4 bg-gray-200 border-0">

				<div class="grid gap-4 md:grid-cols-3">
					<div><CodeForces /></div>
					<div><Leetcode /></div>
					<div><Atcoder /></div>
				</div>

			  	<hr class="h-px my-4 bg-gray-200 border-0">
			</div>
		</div>

	</homepage>	  
	<Footer />
	</body>

	<style>

		homepage {
			max-width: 100%;
			height: max-content;
			display: flex;
			align-items: center; 
			margin: 0 auto;  
			box-sizing: border-box; 
		}

		@media (max-width: 768px) {
			.homepage {
				flex-direction: column;
			}
		}

		.profile-image{
			width: 12rem;
		}

	</style>
	
</html>
