---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Atcoder from '../components/CodingProfile/Cards/atcoder.astro'; 
import CodeForces from '../components/CodingProfile/Cards/codeforces.astro'; 
import Leetcode from '../components/CodingProfile/Cards/leetcode.astro'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="split-layout">
			<main class="main-content">
				<h1>Hi, I'm Akhilesh!</h1> 
				<p>Fueled by a love for engineering. </p>

				<div class="coding-profile-wrapper">
					<CodeForces/>
					<Leetcode/>
					<Atcoder/>
				</div>

				<!-- <article class="cta">
					<img src='https://images.unsplash.com/photo-1600078686889-8c42747c25fe?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0NDMzMjg5Nw&ixlib=rb-1.2.1&q=80&w=400' alt='Bluetit'>
					<div class="cta__text-column">
						<h2>Aspect ratio is great	</h2>
						<p>This image has an aspect ratio of 3/2.</p>
						<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio">Read all about it</a>
					</div>
				</article> -->

			</main>
			<aside class="sidebar"> 
				<img src="./my-image.png" alt="Placeholder Image" class="sidebar-image" /> 
				
				<h3>Quick Links</h3>
				<ul>
					<li><a href="#">My Portfolio</a></li>
					<li><a href="#">Contact Me</a></li>
					<li><a href="#">GitHub</a></li>
					<li><a href="#">Twitter</a></li>
				</ul>
			</aside>
		</div>
		<Footer />
	</body>
</html>
