---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Atcoder from '../components/CodingProfile/Cards/atcoder.astro'; 
import CodeForces from '../components/CodingProfile/Cards/codeforces.astro'; 
import Leetcode from '../components/CodingProfile/Cards/leetcode.astro'; 
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ImageCarosel from '../components/ImageCarosel.astro';
import { HighlightSpanKind } from 'typescript';





---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="">
	<Header />		
		<main>
				<div class="flex flex-row align-center justify-between"> 
					<div class="w-full">
						<p class="text-3xl"><span class="text-gray-600">Hi, I'm  </span><highlight >Akhilesh </highlight> </p>
						<p>I am currently pursuing my <highlight> Bachelor's </highlight> degree in
							<br>
							 Computer Science at the
						   	Heritage Institute of Technology, Kolkata,  
						 	with an expected graduation from 2022 to 
							<highlight> 2026. </highlight> 			
						</p>
					</div>
					<img src="./my-image.png" alt="Placeholder Image" class="profile-image" />
				</div>

				<hr class="h-px my-4 bg-gray-200 border-0">

				<p>
					During summer vacation of 2024, 
					I have joined <a href="https://lightspeedai.com/">LightSpeedAI Labs </a> as <highlight >  SDE Intern </highlight>  for 3 months. 
					where, I worked on  Web Scraping with Selenium, CI/CD pipelines, AWS, Terraform, ReactJS, ESP32 Board, Flutter, Firebase, WiFi provisioning, and backend services.
				</p>

				<br>

				<p> I really enjoy solving  data-structure & algorithms  problems and, competing
					in <highlight> competive programming </highlight> contests . 
					—it’s helps to improve my problem-solving 
					 and then use them to build cool, real-world stuffs. 
				</p>

				<div class="grid gap-4 md:grid-cols-3 lg:w-4/5 w-full">
					<div><CodeForces /></div>
					<div><Leetcode /></div>
					<div><Atcoder /></div>
				</div>

				<br> 

			</div>
		</main>	  

		<ImageCarosel />

		<main>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eveniet ut impedit officia fugit porro accusamus. Totam, nobis id rerum perspiciatis quod mollitia earum blanditiis placeat enim culpa assumenda! Inventore!</p>
		</main>	

	<Footer />
	</body>

	<style>

		@media (max-width: 768px) {
			.homepage {
				flex-direction: column;
			}

			#carousel-image{
				height: 22rem;
			}
		}

		.profile-image{
			width: 12rem;
		}

	</style>
	
</html>
