---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<main>
	<nav>
		<div class="navlink">
			<!-- <img class="nav-logo" src="akhil-penguin-logo.png" alt=""> -->
			<a class="nav-logo-text text-4xl" href="/">{SITE_TITLE}</a>
		</div>
		<div class="navlink">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/project">Projects</HeaderLink>
			<HeaderLink href="/blog">Blogs</HeaderLink>
		</div>
	</nav>
	</main>
</header>
<style>
	header {
		margin: 0;
		background: var(--background);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		margin-top: 2rem;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between; 
	}
	nav a {
		padding: 1em 1.5em 0 0 ;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none; 
		color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}

	.navlink{
		display:inline;;
		text-align: center;
	}

	.nav-logo{
		height: 2rem;
	}

	.nav-logo-text{
		font-family: 'FunnelDisplay', 'Times New Roman', Times, serif;
		font-weight: 700;
	}

	.color-primary{
		color: var(--accent);
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}

		.navlink{
			width: 100%;
		}

		nav {
			justify-content: space-between;
		}
	}
</style>
