---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="md:px-20 md:pt-8">
		<div class="p-0 m-0 flex items-center justify-center ">
			<img class="nav-logo" src="./akhil-penguin-logo.png" alt="">
			<a class="nav-logo-text" href="/">{SITE_TITLE}</a>
		  </div>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--background);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between; 
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: rgb(35, 4, 4);
	}
	.social-links,
	.social-links a {
		display: flex;
	}

	.nav-logo{
		height: 2rem;
	}

	.nav-logo-text{
		font-family: 'BarlowCondensed', 'Times New Roman', Times, serif;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: -5px;
		line-height: 0;
	}


	@media (max-width: 720px) {
		.social-links {
			display: none;
		}

		nav {
			justify-content: space-between;
		}
		
		.nav-logo-text{
			font-size: 20px;
		}
	}
</style>
