---
---
<p class="mx-4 hindi-font sm:text-9xl text-xl" href="/">अखिल</p>
<style>
.hindi-font {
    font-family: 'GajrajOne';
    font-size: 6rem;

    /* Make it full width */
    display: block;
    width: 100%;
    text-align: center;

    /* Gradient text */
    background: linear-gradient(to bottom, var(--footer-text),   var(--footer-text));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
</style>
